VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_TRAKT_CLIENT_ID=
VITE_TRAKT_REDIRECT_URI=http://localhost:5173/auth/onboarding
VITE_SIMKL_CLIENT_ID=
VITE_DOWNLOAD_URL_WINDOWS=
VITE_DOWNLOAD_URL_ANDROID=
VITE_DOWNLOAD_URL_LINUX=
