VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_CRISPY_API_URL=
VITE_DOWNLOAD_URL_WINDOWS=
VITE_DOWNLOAD_URL_ANDROID=
VITE_DOWNLOAD_URL_LINUX=
VITE_ONBOARDING_TORRENT_ADDON_URL=
VITE_ONBOARDING_HTTPS_ADDON_URL=
